*{
    margin: 5px;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(207, 207, 168);
}

h1{
    display: flex;
    justify-content:center;
    font-size: 75px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif


}
.acceuil-logo{
    background-color: aquamarine;
    width: 1790px;
    height: 1020px;
}


#navi{
    display: flex;
    justify-content: space-around;
    height :60px;
}
#barre{
    width: 850px;
    border-radius: 40px;
    border: 4px, solid,rgb(255, 255, 255);
    padding: 5px;

}
a{
    color: rgb(2, 2, 2);
    background: none;
    box-sizing: 5px;
    display: flex;
   justify-content: center;
    align-items: center;
    margin: 3px;
    text-decoration: none ;
}

:root {
  --slide-width: 250px;
  --nb-articles: 4; 
}

.slider-container {
  width: 100%;
  overflow: hidden; 
  background: white;
  padding: 20px 0;
  height: 350px;
  width:1790px ;
  border-radius:20px;
  background-color: rgb(207, 207, 168);
  
}

.slider-track {
  display: flex;
  width: calc(var(--slide-width) * var(--nb-articles) * 2);
  animation: scroll-auto 18s linear infinite;
}

.slide {
  width: var(--slide-width);
  height: 300px;
  width: 450px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; 
  background: #ffffff;
  margin: 0 10px;
  border-radius: 8px;
  font-weight: bold;
  border: 4px,solid,black;

}


@keyframes scroll-auto {
  0% {
    transform: translateX(0);
  }
  100% {
    
    transform: translateX(calc(-1 * var(--slide-width) * var(--nb-articles)));
  }
}


.slider-container:hover .slider-track {
  animation-play-state: paused;
}

button{
    background-color: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
    height: 37px;
    width: 70px;
    border-radius: 5px;
}
