body {
  background-color: rgba(163, 155, 106, 0.849);
}

article {
  width: 260px;
  text-align: center;
  border: 3px solid rgb(32, 32, 32);
  border-radius: 10px;
  overflow: hidden;
}


article img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}


article p {
  font-weight: bold;
  margin-top: 8px;
}


#toggle {
  display: none;
}

.gallery {
  display: none;
  margin-top: 30px;
  gap: 20px;
  justify-content: center;
}

.phase1,
.phase2,
.phase3 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#toggle:checked ~ .gallery {
  display: flex;
  flex-wrap: wrap;
}


.btn {
  display: block;
  width: fit-content;
  margin: 40px auto;
  padding: 12px 25px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
}


.pub-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.pub {
  width: 260px;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
}

.pub video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.contact {
  text-align: center;
  margin: 30px 0;
}

.contact-btn {
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.services {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(247, 247, 248);
  border-radius: 20px;
  color: rgb(1, 14, 14);
  text-align: justify;
}

#dept {
  display: flex;
  justify-content: center;
}


@media (max-width: 768px) {
  article,
  .pub {
    width: 45%;
  }
}

@media (max-width: 480px) {
  article,
  .pub {
    width: 100%;
  }
}
