.phase1{
    width: 1790px;
    display: flex;
     

} 
article{
border: 3px, solid, rgb(226, 131, 131);

}
.phase2{
    display: flex;
}

.phase3{
    display: flex;
}

#toggle {
    display: none;
}


.gallery {
    display: none;
    margin-top: 30px;
    gap: 20px;
    
}


#toggle:checked ~ .gallery {
    display: flex; 
}


.btn {
    display: block;
    width: fit-content;
    margin: 40px auto;
    padding: 12px 25px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}

























.services{
 border: 3px, solid, black;
 color: rgb(54, 66, 66);
 width: 1790px;
height: 300px;
background-color: rgb(142, 142, 156) ;
border-radius: 20PX;
justify-content: center;
align-items: center;
}
#dept{

display: flex;
justify-content: center;

}
